@mixin theme($theme: #EE5){
    border: 1px solid $theme;
    
}

.cars {
    
    h2 {
        color: $color-05;
    }

    .destack {
        @include theme;
    }
    li {
        @include theme;
        color: $color-04;
        display: flex;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;

        a {
            background-color: $color-04;
        }
    }
}