$align: left;
$bg-color: #3d3d3d;
$color-01: #121212;
$color-02: #fff;
$color-03: #ff0;
$color-04: rgb(136, 207, 255);
$color-05: #0958e1;
$color-default: #fff;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;